<!DOCTYPE html>
<html lang="en">
<head>
<title>Code Destroyer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('../_partial/_header'); -%> 
<%- include('../css/background'); -%> 
<%- include('../css/btn'); -%> 
<%- include('../css/stylesheet'); -%> 
</head>

<body>
  <div class="row">
    <div class="leftcolumn">
      <div class="card" style = "position: fixed; height: fit-content; background-color: transparent; border: none;">
      <!--<h2>Languages</h2>-->
        <div id="languages">
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/home"><b>Home</b></a></button>
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/cpp"><b>C++</b></a></button>
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/java"><b>Java</b></a></button>
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/javascript"><b>JavaScript</b></a></button> 
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/sql"><b>SQL</b></a></button>
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/asp"><b>ASP.NET</b></a></button>
          <button class="emptybutton"><a class="button-54" style="color: #1C2833;" href="/python"><b>Python</b></a></button> 
        </div>
    </div>
  </div>
    
  <div class="rightcolumn">
    <div>
      <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
        <% var videoUrl = "https://www.youtube.com/embed/" + data[i].vid %>
        <div class="card second" style = "height: 400px;">
          <div class="video" style = "height: 200px;">
            <iframe id="videoFrame" src="https://www.youtube.com/embed/<%= data[i].vid %>">
            </iframe>
          </div>
        </div>
      <% } } %>
    </div>
  </div>
</body>
</html>


<%- include('../_partial/_footer'); -%>
